@{
	ViewData["Title"] = "Home Page";
}

<div id="backgroundImg" class="mt-5 jumbotron mb-0">
	<h1 class="display-1 text-primary text-center p-3">Keeping Drawings Up To Date!</h1>
</div>

<hr>

<p class="lead text-secondary text-center">&emsp; A drawing register is a controlled list of drawings that also provides a standardised way of 
	tracking the addition of revisions and changes to an existing document.
</p>

<hr>

<div class="jumbotron mt-5">
	<h2 class="display-5 text-center mb-5 text-secondary">Manage your Projects with embedded State features</h2>

	<p class="lead text-secondary">&emsp; You can control how accessible the project is for team members. Each project state will 
		have different functions to create, read, update and delete drawings, documentation and layouts.
	</p>

	<div class="row">
		<div class="container text-center" style="width:20em">
			<table class="table table-hover mt-3 user-select-none text-center">
				<thead>
					<tr>
						<th>ProjectState</th>
					</tr>
				</thead>
				<tbody class="table-primary" style="border: 2px solid white;">
					<tr data-bs-container="body" 
					data-bs-toggle="popover" 
					data-bs-placement="top" 
					data-bs-content="The project has been created but the plan has not yet been initiated and team members have no access to the project." 
					data-bs-original-title="Defined">
						<td style="border: 2px solid white;"><span class="text-info">Defined</span></td>
					</tr>
					<tr data-bs-container="body" 
					data-bs-toggle="popover" 
					data-bs-placement="right" 
					data-bs-content="The project has been started and is accessible by team members. Team members can create, read, update and delete drawings, documentation and layouts." 
					data-bs-original-title="Running">
						<td style="border: 2px solid white;"><span class="text-primary">Running</span></td>
					</tr>
					<tr data-bs-container="body" 
					data-bs-toggle="popover" 
					data-bs-placement="left" 
					data-bs-content="The project set to Completed. Team members can only read drawings, documentation and layouts." 
					data-bs-original-title="Completed">
						<td style="border: 2px solid white;"><span class="text-success">Completed</span></td>
					</tr>
					<tr data-bs-container="body" 
					data-bs-toggle="popover" 
					data-bs-placement="bottom" 
					data-bs-content="The project has been canceled, but project data is still available to team members. Team members can only read drawings, documentation and layouts." 
					data-bs-original-title="Canceled">
						<td style="border: 2px solid white;"><span class="text-danger">Canceled</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<p class="lead text-secondary mt-3 text-center">In all project statuses, the administrator will always have complete access to create, read, 
		update and delete functions.
	</p>

	<hr class="my-4">
</div>

<div class="jumbotron mt-5">
	<h4 class="display-5 text-center mb-5 text-secondary">SQL Logic</h4>
	<img class="rounded mx-auto d-block w-100" src="~/Assets/SqlDiagram.gif" style="max-width:900px;" />


</div>

<hr class="my-4">

<div class="jumbotron mt-5">
	<h3 class="display-5 text-center mb-5 text-primary">Register an account and create your own Drawing Register</h3>

	<p class="lead text-secondary">&emsp; You can control how accessible the project is for team members. Each project state will 
		have different functions to create, read, update and delete drawings, documentation and layouts.
	</p>

	<div class="mt-5 d-flex flex-wrap justify-content-around text-secondary">
		<div class="card border-primary mb-3" style="max-width: 20rem;">
			<div class="card-header text-primary">
				<i class="bi bi-sunglasses h1"></i>
			</div>
			<div class="card-body">
				<h4 class="card-title text-primary">Login & Explore</h4>
				<p class="card-text">
					Don't want to register? Login as spectator and explore! Seeded data will show you all features in no time.
				</p>
				<p class="card-text">
					<strong class="text-warning">Spectators can't Create, Update and Delete</strong>
				</p>
			</div>
		</div>

		<div class="card border-primary mb-3" style="max-width: 20rem;">
			<div class="card-header text-primary">
				<i class="bi bi-book-fill h1"></i>
			</div>
			<div class="card-body">
				<h4 class="card-title text-primary">Register & Create</h4>
				<p class="card-text">
					Register account and test application without any limitations! Separate documents into projects, add new 
					members to your register and more!
				</p>
			</div>
		</div>

		<div class="card border-primary mb-3" style="max-width: 20rem;">
			<div class="card-header text-primary">
				<i class="bi bi-bar-chart-line-fill h1"></i>
			</div>
			<div class="card-body">
				<h4 class="card-title text-primary">My Progress</h4>
				<p class="card-text">
					Track your progress with built-in application graphics.
				</p>
			</div>
		</div>
	</div>
</div>

<hr class="my-4">

<div class="jumbotron mt-5">

	<h4 class="display-5 text-center mb-5 text-secondary">Upload 3D models straight to your Drawing Register!!!</h4>

	<div class="d-flex flex-wrap justify-content-evenly">

		<p class="lead text-secondary">&emsp;Upload your 3D models with Solidworks eDrawings and preview them everywhere!!! 
			With this Drawing Register you can load your CAD files to your portable device on sight. It can be used not 
			only for presentations, but also for your engineers.
		</p>

		<div class="card mt-3 p-1 overflow-hidden" style="width:75%; max-width:800px;">
			<iframe
				src="~/Assets/ConveyorSystem.html" 
				alt="3D-Model" 
				loading="lazy" 
				style="width:100%; aspect-ratio: 3/2;">
			</iframe>
		</div>

		<p class="lead text-secondary mt-3">&emsp;Built in eDrawings features allow you to review components list, explode model, 
			make section view, move separate components, play animated views,  change the display settings and has a full screen mode.
		</p>

	</div>
</div>

