
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#backgroundImg {
    position:relative;
    background-image: url('../Assets/image-engineering-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 20em;
}
#backgroundImgDR {
    position: relative;
    background-image: url('../Assets/image-enginnering-bg-dr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 15em;
}
#backgroundImgDR h1 {
    background-color: rgb(11, 94, 255, 0.6);
    height: 100%;
}