@model ProjectState

@{
    ViewData["Title"] = "Edit Custom Project State";
}

<h1 class="text-primary">Edit</h1>
<h4>Custom Project State</h4>
<hr />

<div class="row">
    <div class="col-md-6 mt-3">
        <form asp-action="Edit">
            <span class="text-danger">@Html.ValidationMessage("WhiteSpaces")</span>
            <span class="text-danger">@Html.ValidationMessage("DefaultState")</span>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="DrawingRegisterId" hidden/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <span class="text-danger">@Html.ValidationMessage("ExistingState")</span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="btn-group mt-3" role="group">
                <input type="submit" value="Save" class="btn btn-outline-primary"/>
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
