@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Please check your email to confirm your account.
        </p>
        <p class="text-danger">
            Since this program using the generic gmail account as email sender - it's a high probability that sent email will be put in your email's spam.
        </p>
        <p>
            To test the application and set up fake accounts, I've added the confirmation link here: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
        <p class="text-danger">
            Since this program using the generic gmail account as email sender - it's a high probability that sent email will be put in your email's spam.
        </p>
    }
}

