@model DrawingRegisterWeb.Models.DrawingRegister

@{
	ViewData["Title"] = "Drawing Register Create";
}

<h1 class="text-primary">Before setting up a new Drawing Register</h1>
<h6 class="text-secondary">Should know...</h6>
<span class="text-danger">@Html.TempData["CantCreate"]</span>

<hr />

<div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-3 mt-3">
	<div class="col">
			<h2 class="text-info"><i class="bi bi-info-circle"></i></h2>
			<ul class="list-group">
				<li class="list-group-item list-group-item-success p-3">
					&emsp;Drawings are secure! No one can access them apart from you and your team. New members can 
					join only after you confirm they request or send them an invitation
				 </li>	
				<li class="list-group-item list-group-item-primary p-3">
					&emsp;The administrator can change team member's role or delete existing member from the Register
					at any time
					<br /><br />
				</li>
			</ul>
	</div>
	<div class="col">
			<h2 class="text-warning"><i class="bi bi-exclamation-circle"></i></h2>
			<ul class="list-group">
				 <li class="list-group-item list-group-item-warning p-3">
					 &emsp;Each user cannot have more than ONE Drawing Register. If you want to join the existing register, 
					 you should request an invitation from <a asp-action="Index">Drawing Register Manager</a>
				</li>
				<li class="list-group-item list-group-item-danger p-3">
					 &emsp;<b>The Administrator can Delete the Register entirely</b>. All Projects, Drawings, Layouts and 
					 Documentation will be Removed also. Keep this in mind before assigning the Administration 
					 role to team members!
				</li>
			</ul>
	</div>
</div>

<form asp-action="Create" class="mt-5">
	<div class="form-check form-switch">
		<input onclick="changeText()" name="seedData" value="true" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
		<label id="checkBoxLabel" class="form-check-label text-primary" for="flexSwitchCheckChecked">Seed Register with example projects, drawings, documentation and layouts ?</label>
	</div>
	<div class="btn-group text-center mt-3">
		<button type="submit" class="btn btn-outline-primary"><i class="bi bi-plus-circle"></i> Create New Register</button>
		<a asp-action="Index" class="btn btn-outline-secondary"><i class="bi bi-arrow-return-left"></i> Back to Manager</a>
	</div>
</form>

@section Scripts {
	<script>
		const checkBoxLabel = document.getElementById("checkBoxLabel");

		function changeText(){
			if(checkBoxLabel.classList.contains("text-primary")){
				checkBoxLabel.classList.remove("text-primary");
				checkBoxLabel.classList.add("text-secondary");
			} else {
				checkBoxLabel.classList.remove("text-secondary");
				checkBoxLabel.classList.add("text-primary");
			}
		}
	</script>
}