@model DrawingRegisterWeb.Models.DrawingRegister

@{
	ViewData["Title"] = "Delete";
}

<h1 class="text-danger">Delete</h1>

<h3>Are you sure you want to delete your Drawing Register?</h3>
<div>
	<p class="lead text-danger"><strong>
		&emsp;Once Register Deleted your Drawings and Projects will be Deleted as well. After Register is removed,
		you can request invitation to join another Drawing Register or create a new Register again
	</strong></p>

	<hr />
	
	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<div class="btn-group">
			<input type="submit" value="Delete" class="btn btn-outline-danger" />
			<a asp-action="Index" class="btn btn-outline-secondary">Back</a>
		</div>
	</form>
</div>
